* {
  box-sizing: border-box;
}

:root {
  --main-color: #1b5348;
  --main-color-darker: #0b4338;
  --main-color-lighter: #2b6358;
  --black: #222222;
  --gray: #333333;
}

body {
  font-family: "Metropolis", sans-serif;
  background-color: var(--black);
  color: #dddddd;
  margin: 0;
  padding: 0;
  min-height: 100%;
  position: relative; /* for fixed footer at the bottom */
}

/* =============== typo / btn =============== */

p {
  line-height: 1.4rem;
}

h1 {
  font-family: "Palatino Linotype", serif;
  margin: 0;
  font-size: 3rem;
  font-weight: normal;
}

@media (max-width: 500px) {
  h1 {
    font-size: 2rem;
  }
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  margin-top: 0;
}

h3 {
  font-size: 1.8rem;
  margin: 0;
}

h4 {
  font-size: 1.4rem;
  margin-bottom: 16px;
}

a:not(nav a) {
  background-color: #dddddd;
  color: var(--main-color);
  font-weight: bold;
  text-decoration: none;
  transition: 0.2s;
}

a:not(nav a):hover {
  background-color: var(--main-color-darker);
  color: #dddddd;
  cursor: pointer;
}

button,
a.btn {
  background-color: var(--main-color);
  box-shadow: #111 0px 1px 5px;
  border-radius: 8px;
  color: #dddddd;
  cursor: pointer;
  display: inline-block;
  font-size: 1.2rem;
  padding: 16px;
  transition: background-color 0.3s;
  text-decoration: none;
}

button:hover,
a.btn:hover {
  background-color: var(--main-color-darker);
}

blockquote {
  margin: 8px;
  font-style: italic;
  & > p::before {
    content: "\201C";
    font-size: 2rem;
  }
  & > p::after {
    content: "\201D";
    font-size: 2rem;
  }
}

/* ========================================== */

section {
  padding: 20px;
  text-align: center;
  & section {
    padding-left: 0;
    padding-right: 0;
  }
}

section.bright,
footer.bright {
  background-color: var(--gray);
}

section.dark,
footer.dark {
  background-color: var(--black);
}