footer {
  align-items: center;
  background-color: var(--gray);
  display: flex;
  gap: 16px;
  flex-direction: column;
  padding: 20px;
  text-align: center;
  width: 100%;
}

footer .links {
  display: flex;
  align-items: center;
  gap: 8px;
}

@media (max-width: 570px) {
  footer .links {
    flex-direction: column;
  }
}

footer .links a {
  padding: 4px;
  display: flex;
}

footer .social-links {
  display: flex;
  gap: 8px;
}

footer .social-link,
footer .social-link:hover {
  background: none;
}
footer .social-link:hover > img {
  filter: invert(70%);
}

footer .social-link > img {
  filter: invert(100%);
  width: 24px;
  transition: all 0.2s;
}

footer .onyxAudioLogo {
  filter: drop-shadow(0 0 3px #fff);
  width: 80px;
}

footer p {
  margin: 0;
}
