.hero-content {
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
  background-image: url("../images/knobs.jpg");
  background-attachment: fixed;
  background-position-y: -100px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.hero-content p {
  background: rgba(0, 0, 0, 0.8);
  max-width: 700px;
  margin: 20px auto;
  padding: 20px;
  font-size: 1.6rem;
}

/* ===== Témoignages ===== */

#testimonies {
  background-color: var(--gray);
}

.testimony-list {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.testimony-item {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-basis: 33.33%;
  justify-content: flex-start;
  margin: 0 auto;
}

.testimony-item h3 {
  background-color: var(--main-color);
  border-radius: 8px;
  font-size: 1.5rem;
  padding: 8px;
  margin-bottom: 0;
}
.testimony-item p {
  font-size: 1.2rem;
  line-height: 1.5rem;
  max-width: 500px;
}

/* ===== Services ===== */

.service-list {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  max-width: 1200px;
}

.service-item {
  align-items: center;
  display: flex;
  flex-basis: 50%;
  justify-content: center;
  height: 500px;
  margin: auto;
  min-width: 500px;
}

@media (max-width: 768px) {
  .service-item {
    flex-basis: 100%;
    height: 350px;
    min-width: 200px;
  }
}

.service-item {
  background-size: cover;
  display: flex;
  flex-direction: column;
  transition: all 0.2s;
}
.service-item:hover {
  transform: scale(1.03);
  box-shadow: #111 0px 5px 15px;
}

.service-item h3 {
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 2.5rem;
  margin: 0;
  padding: 20px;
  position: relative;
  text-shadow: var(--main-color) 0px 5px 15px;
  text-transform: uppercase;
}

.service-item a {
  background: var(--main-color);
  color: #dddddd;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  margin: 0;
  padding: 12px;
  margin-top: -10px;
  z-index: 1;
}

.service-item-1 {
  background-image: url("../images/speech.jpg");
}
.service-item-2 {
  background-image: url("../images/guitarist.jpg");
}
.service-item-3 {
  background-image: url("../images/garden-party.jpg");
}
.service-item-4 {
  background-image: url("../images/wedding.jpg");
}

/* =================================== */

.contact-btn {
  display: inline-block;
  margin-bottom: 32px;
}
