.hero-content {
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
  background-image: url("../images/knobs.jpg");
  background-attachment: fixed;
  background-position-y: -100px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  /* bottom clip */
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 50px),
    50% 100%,
    0 calc(100% - 50px)
  );
}

section.bright,
footer.bright {
  background-color: var(--gray);
}

section.dark,
footer.dark {
  background-color: var(--black);
}

.hero-content p {
  background: rgba(0, 0, 0, 0.8);
  font-size: 1.6rem;
  line-height: 1.8rem;
  margin: 20px auto;
  max-width: 700px;
  padding: 20px;
}

/* ===== Services ===== */

#services {
  /* top clip  */
  clip-path: polygon(0 0, 50% 50px, 100% 0, 100% 100%, 0 100%);
  margin-top: -40px;
  padding-top: 70px;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  max-width: 1200px;
}

.service-item {
  align-items: center;
  display: flex;
  flex-basis: 50%;
  justify-content: center;
  height: 500px;
  margin: auto;
  min-width: 500px;
  background-size: cover;
  flex-direction: column;
  transition: all 0.2s;
}

.service-item:hover {
  transform: scale(1.03);
  box-shadow: #111 0px 5px 15px;
}

.service-item h3 {
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 2.5rem;
  padding: 20px;
  position: relative;
  text-shadow: var(--main-color) 0px 5px 15px;
  text-transform: uppercase;
}

.service-item a {
  background: var(--main-color);
  color: #dddddd;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  margin: 0;
  padding: 12px;
  margin-top: -10px;
  z-index: 1;
}

.service-item-1 {
  background-image: url("../images/speech.jpg");
  background-position-x: 100%;
}
.service-item-2 {
  background-image: url("../images/guitarist.jpg");
}
.service-item-3 {
  background-image: url("../images/garden_party.jpg");
}
.service-item-4 {
  background-image: url("../images/wedding.jpg");
}

@media (max-width: 768px) {
  .service-item {
    flex-basis: 100%;
    height: 350px;
    min-width: 200px;
  }
  .service-item h3 {
    font-size: 1.5rem;
    padding: 12px;
  }
}

.service-localisation {
  font-size: 1.25rem;
  max-width: 900px;
  margin: 16px auto;
  line-height: 1.6rem;
}
/* ===== Warranties ===== */

.warranty-list {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin: auto;
  max-width: 1200px;
  width: 100%;
}

.warranty-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  flex: 1;
  flex-basis: calc(33.33% - 16px);
}

@media (max-width: 768px) {
  .warranty-item {
    flex-basis: 50%;
  }
}

.warranty-item h3 {
  font-size: 1.5rem;
}

.warranty-item p {
  font-size: 1.1rem;
  line-height: 1.5rem;
  margin: 0;
}

.warranty-item i {
  -webkit-text-stroke: 1px var(--main-color);
  color: #eee;
  font-size: 2.5rem;
}

/* ===== Testimonies ===== */

.testimony-list {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.testimony-item {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-basis: 33.33%;
  justify-content: flex-start;
  margin: 0 auto;
}

.testimony-item h3 {
  background-color: var(--main-color);
  border-radius: 8px;
  font-size: 1.5rem;
  padding: 8px;
}
.testimony-item p {
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin: 4px 0;
  max-width: 500px;
}

.star-rating {
  margin-top: 8px;
}

.star-rating .checked {
  color: #fbbc04;
}

@media (max-width: 800px) {
  .testimony-item {
    flex-basis: 50%;
  }
}

@media (max-width: 600px) {
  .testimony-item {
    flex-basis: 100%;
  }
}

/* =================================== */

.contact-btn {
  box-shadow: #111 0px 5px 15px;
  display: inline-block;
  margin-bottom: 32px;
}
