main {
  margin: auto;
  max-width: 800px;
}

.bloc {
  background-color: var(--gray);
  border-radius: 8px;
  padding: 20px;
  margin: 20px auto;
}

.bloc .size-note {
  margin-top: 4px;
  margin-bottom: 0;
  font-size: 0.9rem;
  font-style: italic;
}

.bloc img {
  margin: 0.5rem 0;
  width: 100%;
  background-color: #ffffff;
}

.bloc .price {
  background-color: var(--main-color);
  display: block;
  font-size: 2rem;
  width: fit-content;
  margin: 0 auto;
  padding: 0.5rem;
  border-radius: 8px;
}

.bloc .tagline {
  font-size: 1.4rem;
  font-weight: bold;
}

.bloc ul {
  list-style-type: none;
  padding: 0;
  text-align: left;
}

.bloc ul li {
  margin: 4px 0;
  font-size: 0.9rem;
}

.notes {
  margin: auto;
  background-color: var(--main-color);
  padding: 16px;
  border-radius: 4px;
  max-width: 800px;
  text-align: left;
}

table {
  background-color: #fff;
  color: var(--black);
  width: 100%;
}

th,
td {
  border: 1px solid var(--black);
  padding: 8px;
  text-align: left;
}

th {
  background-color: var(--gray);
  color: white;
  text-align: center;
}

td strong {
  font-weight: bold;
}

@media (max-width: 768px) {
  .bloc h3 {
    font-size: 1.5rem;
  }
}

#examples span {
  padding: 2px;
}

.result {
  display: block;
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 4px;
  text-decoration: underline;
}

#on-demand .bloc li {
  font-size: 1.1rem;
}

#on-demand h3:nth-child(n + 2) {
  margin-top: 3rem;
}

.equipments {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 0;
}

.equipments li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.equipments li img {
  background: none;
  max-width: 200px;
}

.equipments li p {
  margin: 0;
}

.equipments .price {
  font-size: 1.5rem;
}
