* {
  box-sizing: border-box;
}

:root {
  --main-color: #1b5348;
  --main-color-darker: #0b4338;
  --black: #222222;
  --gray: #333333;
}

body {
  font-family: "Metropolis", sans-serif;
  background-color: var(--black);
  color: #dddddd;
  margin: 0;
  padding: 0;
  min-height: 100%;
  position: relative; // for fixed footer at the bottom
}

/* =============== typo / btn =============== */
h1 {
  font-family: "Palatino Linotype", serif;
  margin: 0;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  margin-top: 0;
}

a:not(nav a) {
  background-color: #dddddd;
  color: var(--main-color);
  font-weight: bold;
  text-decoration: none;
  transition: 0.2s;
}

a:not(nav a):hover {
  background-color: var(--main-color-darker);
  color: #dddddd;
  cursor: pointer;
}

button,
a.btn {
  background-color: var(--main-color);
  box-shadow: #111 0px 5px 15px;
  border-radius: 8px;
  color: #dddddd;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 16px;
  transition: background-color 0.3s;
  text-decoration: none;
}

button:hover,
a.btn:hover {
  background-color: var(--main-color-darker);
}
/* ========================================== */

/* =============== nav =============== */

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav a {
  border-radius: 8px;
  color: #dddddd;
  text-decoration: none;
  transition: color 0.3s;
  font-size: 1.2rem;
  padding: 8px;
  transition: 0.2s;
}

nav a:hover {
  background-color: var(--main-color);
}

/* =================================== */

section {
  padding: 20px;
  text-align: center;
}

.hero-content {
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
  background-image: url("../images/knobs.jpg");
  background-attachment: fixed;
  background-position-y: -550px;
  background-repeat: no-repeat;
  background-size: cover;

  width: 100%;
}

.hero-content p {
  background: rgba(0, 0, 0, 0.8);
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  font-size: 1.6rem;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  max-width: 1200px;
}

.service-item {
  align-items: center;
  display: flex;
  flex-basis: 50%;
  justify-content: center;
  height: 500px;
  margin: auto;
  min-width: 500px;
  width: 50%;
}

.service-item {
  background-size: cover;
  display: flex;
  flex-direction: column;
  transition: all 0.2s;
}

.service-item:hover {
  transform: scale(1.03);
  box-shadow: #111 0px 5px 15px;
}

.service-item h3 {
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 2.5rem;
  margin: 0;
  padding: 20px;
  position: relative;
  text-shadow: var(--main-color) 0px 5px 15px;
  text-transform: uppercase;
}

.service-item a {
  background: var(--main-color);
  color: #dddddd;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  margin: 0;
  padding: 12px;
  margin-top: -10px;
  z-index: 1;
}

.service-item-1 {
  background-image: url("../images/speech.jpg");
}
.service-item-2 {
  background-image: url("../images/guitarist.jpg");
}
.service-item-3 {
  background-image: url("../images/garden-party.jpg");
}
.service-item-4 {
  background-image: url("../images/wedding.jpg");
}

/* =================================== */

.contact-btn {
  display: inline-block;
  margin-bottom: 32px;
}

@media (max-width: 768px) {
  nav ul li {
    display: block;
    margin: 10px 0;
  }

  h2 {
    font-size: 1.8rem;
  }
}
